.section {
    display: flex;
    flex-direction: column;

}

.navigtionBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-between;
   
    z-index: 50;
}

nav {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 2px 10px 5px 10px;
    transition: 120ms ease-in-out;
}

nav a:hover {
    color: var(--primary);
    text-decoration: underline;
}


.context {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    --heroImage: url('../../assets/images/gym3.png');
}

.leftArea, .rightArea { 
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
}

.leftArea {
    z-index: 19;
    position: absolute;
    left: 0;
    top: 0;
}

.buttons_wrapper {
    width: 100%;
    padding-inline: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    z-index: 2;
}

.textArea {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;
    text-align: start;
    z-index: 1;
}


.heroImage {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.heroShader {
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 18;
    left: 0;
    filter: brightness(1.5);
    background-image: url('../../assets/images/texture2.png');
}

.front {
    opacity: 0.8;
}

.inverted {
    z-index: 3;
    background-position: center;
    clip-path: inset(0 0 0 0);
}

.heroImage img {
    max-height: 99%;
    object-fit: fill;
    z-index: 10;
}