.filled-btn {
    height: 40px;
    aspect-ratio: 4/1;

    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px 2px 5px;
    cursor: pointer;
}

.filled-one svg {
    fill: var(--primary);
}

.filled-two svg {
    fill: var(--bg);
}

.filled-one span {
    color: var(--secoundary);
}

.filled-two span {
    color: var(--text);
}

.filled-btn svg path {
    stroke: transparent;
}


.filled-btn span {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 3;
}

.outline-btn {
    height: 40px;
    aspect-ratio: 4/1;

    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px 2px 5px;

    cursor: pointer;
}

.outline-btn svg {
    fill: none;
    /* width: 1543px; 
    height: 408px; */
}

.outline-btn svg path {
    stroke: white;
}


.outline-btn span {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 3;
    color: var(--text);
}

/* .filled-btn:hover svg{
    fill: blue;
}
 */
.outline-btn2:hover svg {
    fill: var(--primary);
}

.outline-btn2:hover span {
    color: var(--bg);
}